@font-face {
  font-family: "Star Hollow", sans-serif;
  src: url("./assets/fonts/Starjhol.ttf") format("truetype");
  font-family: "Star Jedi", sans-serif;
  src: url("./assets/fonts/Starjedi.ttf") format("truetype");
}

html, body {
  height: 100%;
}

body {
  background-image: url("https://github.com/subutai1175/starwars/blob/master/assets/img/star-wars-wallpapers.jpg");
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000;
}

.headerOne {
  font-family: "Star Jedi";
  color: gold;
  text-align: center;
  font-size: 4rem;
  text-shadow: .4px .4px .7px #000;
  margin: 0 auto;
}

.headerTwo {
  font-family: "Star Jedi";
  color: gold;
  text-align: center;
  font-size: 4rem;
  text-shadow: .4px .4px .7px #000;
  margin: 0 auto;
}

.character {
  font-family: "Star Jedi";
  text-align: center;
  color: gold;
  text-align: center;
  font-size: 1rem;
  text-shadow: .4px .4px .7px #000;
  margin: 0 auto;
}
